body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #422200;
    padding: 0 10px
}

@media (max-width: 650px) {
    body {
        margin: 40px;
    }
    /**
        I bet things would fall right into place
        if this headline wasn't so absolutist.
    **/
    h1 {
        position: absolute;
    }
}

h1,
h2,
h3 {
    line-height: 1.2
}